<%- include('layout_head') -%>
  <style>
  pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: darkgrey;
    }
  </style>
  <% if (typeof code == 'undefined') { %>
    <% code = "stuff goes here" %>
  <% } %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <hr>
  <h3>Activity</h3>
  <button class="btn btn-primary" onClick="getAndDisplayAPI()">New Activity</button>
  <div id="code" style="padding-top: 12px"></div>
  <hr>
  <h3>Example Activity</h3>
  <p>All Activites have the following structure:</p>
  <p>GET: /api/</p>
  <pre><code class="json">
{
  "name": "This is the name of the Activity",
  "description": "This is a brief description of the Activity",
  "category": "This is a single value category that the Activity can fall into",
  "tag": ["Tag1", "Tag2"] // Array of associated topics, array can be empty
}
  </pre></code>
  <script>
  const getAndDisplayAPI = () => {
    const code = document.getElementById("code");
    fetch('http://localhost:3000/api/')
      .then(response => response.json())
      .then(data => {
          const firstStep = indentStuff(JSON.stringify(data));
          code.innerHTML = `<pre><code class="json">${firstStep}</code></pre>`
          hljs.highlightAll();
          });
  }
  function indentStuff(input) {
    const result = input
      .replace('{', '{\n  ')
      .replace(/:/g, ': ')
      .replace(',"des', ',\n  "des')
      .replace(',"cat', ',\n  "cat')
      .replace(',"tag', ',\n  "tag')
      .replace('}', '\n}')
      .replace(/,"/, ', "');
    return result;
  };
  getAndDisplayAPI();
  </script>
<%- include('layout_foot') -%>
